body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #101224;

}
*{
    box-sizing: border-box;
}
.world-map{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 1em;
    position: relative;
}
.world-map img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.title{
    text-align: center;
    color: #fff;
    margin: 2em 0;
    padding: 0 1em;
}

.pin{
    background: #4362f8;
    position: absolute;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
}
.pin::before{
    content: " ";
    background: #4362f8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: pulse 1.3s ease-in-out infinite;
}
.pin span{
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    left: 1.5em;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    border-radius: 3em;
    padding: 0.3em 0.6em;
    font-size: 0.9em;
}
.usa{
    top: 50%;
    left: 21%;
}
.france{
    top: 45%;
    left: 48%;
}
.sweden{
    top: 33%;
    left: 52%;
}
.brazil{
    top: 71%;
    left: 32%;

}
.china{
    top: 52%;
    left: 74%;
}
.australia{
    top: 76%;
    left: 82%;
}
@keyframes pulse{
    100%{
        opacity: 0;
        transform: translate(-50% , -50%) scale(2.5);
    }
}
@media screen and (max-width: 600px) {
    .world-map{
        font-size: 13px;
    }
}